.btn
{
    margin-top: 15px;
    margin-bottom: 15px;

}


.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;

}

/* adjusting image size and placement */
img
{
    height: 80px;
    margin-top: -5px;
    margin-left: -25px;
}

/* On mouse-over, add a deeper shadow */
.question-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.question-card
{
     /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px 5px 0 0;
    padding-top: 2px;
    background-color: whitesmoke;
    margin-bottom: 15px;
}
.question-card-title
{

    text-align: center;
    vertical-align: top;
}
.question-card-description
{

    background-color: white;
    text-align: left;
    padding: 2px 16px;
}

/* navbar sizing */
.navbar-header
{
    height: 100px;
}

.error
{
    color: red;
}

main .form-control
{
    /* center form controls */
    display: inline-block;


    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}
