{% extends "layout.html" %}

{% block title %}
    Question
{% endblock %}

{% block main %}

<div class="question-card">
    <div class="question-card-title">
        <h4> {{ question[0] }}</h4>
        <h6> {{ question[1] }} asked on {{ question[2] }}.</h5>
    </div>
    <div class="question-card-description">
        <p> {{ question[3] }} </p>
    </div>
</div>

{% for post in posts %}
<div class="question-card">
    <div class="question-card-title">
    </div>
    <div class="question-card-description">
        <p> {{ post }} </p>
    </div>
</div>
{% endfor %}

<form action="{{ url_for('mark') }}" method="post">
    <div class="form-group">
        <button class="btn btn-default" type="submit" name="thread_id" value="{{ thread_id }}">Mark Anwsered</button>
    </div>
</form>

<form action="{{ url_for('postanswer') }}" method="post">
        <fieldset>
            <div class="form-group" style="height:400px;">
                <textarea style="height:400px; resize:none; width:400px" name="body"placeholder = "Post your reply"/></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit" name="thread_id" value="{{ thread_id }}">Post Reply</button>
            </div>
        </fieldset>
    </form>

{% endblock %}
